<h4>DraftKit <button class="btn btn-sm btn-default pull-right" ng-click="open()">Settings</button></h4><script type="text/ng-template" id="settingsModal.html"><div class="modal-header">
    <h4 class="modal-title">Settings</h4>
  </div>
  <div class="modal-body">

    <div class="col6">

      <h5>Players / Picks<small class="pull-right">Drag to reorder</small></h5>

      <ul class="list-group modal-team-list" ui-sortable="teamSortableOptions" ng-model="teams">
        <li class="list-group-item" ng-repeat="team in teams">
          <span editable-text="team.name" buttons="no" e-form="teamName">
            {{ team.name }}
          </span>
          <span class="label label-default pull-right drag-handle">Pick {{ team.pick + 1 }} of {{ teams.length }}</span>
          <a href="" class="glyphicon glyphicon-remove text-danger pull-right" ng-hide="teamName.$visible" ng-click="confirm(removeTeam, 'Are you sure you\'d like to remove ' + team.name + '?', team)"></a>
          <a href="" class="glyphicon glyphicon-pencil pull-right" ng-click="teamName.$show()" ng-hide="teamName.$visible"></a>
        </li>
        <li class="list-group-item info">
          <a href="" class="pull-right" ng-click="addTeam()">
            Add Team
            <i class="glyphicon glyphicon-plus"></i>&nbsp;
          </a>
        </li>
      </ul>

    </div>

    <div class="col6">
      <button class="btn btn-block btn-danger" ng-click="confirm(resetDraft, 'Are you sure you\'d like to reset the draft?<br/><br/>All draft picks will be lost.')">Reset Draft</button>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div></script><script type="text/ng-template" id="confirmationModal.html"><div class="modal-header">
    <h4 class="modal-title text-center text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Confirm</h4>
  </div>
  <div class="modal-body">

    <p ng-bind-html="displayString"></p>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">Confirm</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
  </div></script>